<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525913465327-hv3eg676ctf0k8cdauhnmm5u0p3l5514.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525913465327-hv3eg676ctf0k8cdauhnmm5u0p3l5514</string>
	<key>API_KEY</key>
	<string>AIzaSyAZGMcyyyzDA4ejwAEsQRav-uXgngd4u88</string>
	<key>GCM_SENDER_ID</key>
	<string>525913465327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.studentProyect.Messanger-App</string>
	<key>PROJECT_ID</key>
	<string>messanger-562ee</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-562ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525913465327:ios:4c6fb3e08e6edcd391561a</string>
</dict>
</plist>